
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

p{ 
    margin-bottom: 15px;
}

a{
  color:  #C3B1E1;
}

ul {
  list-style-type: none;
}
#hamburger_icon{ 
  margin: auto 0;
  cursor: pointer;
  display: none;
}

@media only screen {
.nav-icon4 {
  width: 40px;
  top: -12px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #809bce;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
}

.mobile-menu{
  display: flex;
  top: -1000px;
  position: absolute;
  background-color: #809bce;
  left:0;
  height: 32vh;
  width: 100%;
  transition: 1s;
}

.open .mobile-menu {
  top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.4s;
}

.open .navbar__item {
  display: inline;
}

.open .nav-icon4 span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 8px;
}

.open .nav-icon4 span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open .nav-icon4 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 8px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.navbar {
    background: #faf9f6;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    top: 0;
    border-bottom: 4px solid #809bce;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 999;
}

#navbar__logo{
    background-size: 100%;
    color: #809bce;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    align-items: center;
    display: flex;
    list-style: none;
}

.navbar__item{
    height: 80px;

}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    text-decoration: none;
    height: 100%;

}

.navbar__links:hover {
 /*   color:#95b8d1 ; */
    transform: scale(1.075);
    transition: all 0.3s ease;
}

#navbar__logo:hover {
    transform: scale(1.075);
    transition: all 0.3s ease;
}

.circle {
    float: left;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    color: #fff;
    justify-content: center;
    border: 40px solid #809bce;
    background-color: #809bce;
}

.inches {
    display: inline;
}
  
.centimeters {
    display: none;
}

.heading {
    margin-top: 15vh;
    margin-right: 5vw;
    margin-left: 20vw;
    color: #809bce;
    font-size: 2.4rem;

}

.main {
    color: #809bce;
    font-size: 1.2rem;
    line-height: 150%;
    margin-left: 20vw;
    margin-right: 20vw;
}

/* toggle */
.toggleSwitch span span {
    display: none;
    
  }
  
  @media only screen {
    .toggleSwitch {
      display: inline-block;
      height: 18px;
      position: relative;
      overflow: visible;
      padding: 0;
      margin-left: 250px;
      cursor: pointer;
      width: 40px
    }
    .toggleSwitch * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .toggleSwitch label,
    .toggleSwitch > span {
      line-height: 20px;
      height: 20px;
      vertical-align: middle;
    }
    .toggleSwitch input:focus ~ a,
    .toggleSwitch input:focus + label {
      outline: none;
    }
    .toggleSwitch label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%;
    }
    .toggleSwitch input {
      position: absolute;
      opacity: 0;
      z-index: 5;
    }
    .toggleSwitch > span {
      position: absolute;
      left: -50px;
      width: 100%;
      margin: 0;
      padding-right: 50px;
      text-align: left;
      white-space: nowrap;
    }
    .toggleSwitch > span span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: block;
      width: 50%;
      margin-left: 50px;
      text-align: left;
      font-size: 0.9em;
      width: 100%;
      left: 15%;
      top: -1px;
      opacity: 0;
    }
    .toggleSwitch a {
      position: absolute;
      right: 50%;
      z-index: 4;
      display: block;
      height: 100%;
      padding: 0;
      left: 2px;
      width: 18px;
      background-color: #fff;
      border: 1px solid #809bce;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .toggleSwitch > span span:first-of-type {
      color: darkgray;
      opacity: 1;
      left: 45%;
    }
    .toggleSwitch > span:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50px;
      top: -2px;
      background-color: #fafafa;
      border: 1px solid darkgray;
      border-radius: 30px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
    .toggleSwitch input:checked ~ a {
      border-color: #ccc;
      left: 100%;
      margin-left: -8px;
    }
    .toggleSwitch input:checked ~ span:before {
      border-color:#809bce;
      box-shadow: inset 0 0 0 30px #fafafa;
    }
    .toggleSwitch input:checked ~ span span:first-of-type {
      opacity: 0;
    }
    .toggleSwitch input:checked ~ span span:last-of-type {
      opacity: 1;
      color: darkgray;
    }
    /* Switch Sizes */
    .toggleSwitch.large {
      width: 60px;
      height: 27px;
    }
    .toggleSwitch.large a {
      width: 27px;
    }
    .toggleSwitch.large > span {
      height: 29px;
      line-height: 28px;
    }
    .toggleSwitch.large input:checked ~ a {
      left: 41px;
    }
    .toggleSwitch.large > span span {
      font-size: 1.1em;
    }
    .toggleSwitch.large > span span:first-of-type {
      left: 50%;
    }
    .toggleSwitch.xlarge {
      width: 80px;
      height: 36px;
    }
    .toggleSwitch.xlarge a {
      width: 36px;
    }
    .toggleSwitch.xlarge > span {
      height: 38px;
      line-height: 37px;
    }
    .toggleSwitch.xlarge input:checked ~ a {
      left: 52px;
    }
    .toggleSwitch.xlarge > span span {
      font-size: 1.4em;
    }
    .toggleSwitch.xlarge > span span:first-of-type {
      left: 50%;
    }
  }
  
.circleMain {
    color: #809bce;
    font-size: 1.2rem;
    line-height: 150%;
    margin-left: 5vw;
    margin-right: 5vw;
    /* float: left; */
    padding-top: 45px;

}

.circleMain2 {
  color: #809bce;
    font-size: 1.2rem;
    line-height: 150%;
    float: left;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 45px;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar__item {
    display: none;
  }
  .navbar{
    height: 60px;
  }
  #navbar__logo {
    font-size: 2rem;
  }
  .heading {
    margin-left: 10vw;
    margin-top: 10vh;
  }
  .main {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #hamburger_icon {
    display: inline;
  }
}