
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #809bce;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-size: 100%;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    align-items: center;
    display: flex;
    list-style: none;
}

.navbar__item{
    height: 80px;

}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    text-decoration: none;
    height: 100%;

}

.navbar__links:hover {
 /*   color:#95b8d1 ; */
    transform: scale(1.075);
    transition: all 0.3s ease;
}

#navbar__logo:hover {
    transform: scale(1.075);
    transition: all 0.3s ease;
}

.circle {
    
    padding-left: 10%;
    color: #809bce;
    justify-content: center;
    

}

